 /*    general    */
 body {
     margin: auto;
     background-image: url('billeder/konfetti_baggrund_03.png');
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
 }

 img {
     max-width: 100%;
 }

 html {
     scroll-behavior: smooth;
     scroll-padding-top: 75px;
 }

 .baggrund_container {
     background-color: #F9F3E1;
     width: 100%;
     height: auto;



 }

 /******************fonte********************/

 h1 {
     font-family: 'Roboto', sans-serif;
     color: #F4AD3B;
     font-weight: 900;
     font-size: 2.5rem
 }

 h3 {
     font-family: 'Roboto', sans-serif;
     color: #F9F3E1;
     font-weight: 700;
     font-size: 2rem;

 }

 h4 {
     font-family: 'Roboto', sans-serif;
     color: #F9F3E1;
     font-weight: 400;
     font-size: 1.1rem;
     letter-spacing: 0.7px;

 }

 h5 {
     font-family: 'Lobster', cursive;
     color: #F9F3E1;
     font-weight: 500;
     font-size: 3.4rem;
     letter-spacing: 1.1px;
 }

 p {
     font-family: 'Roboto', sans-serif;
     color: #242424;
     font-weight: 400;
     font-size: 1rem;

 }

 .p2 {
     font-family: 'Roboto', sans-serif;
     color: #242424;
     font-weight: 300;
     font-size: 1rem;
 }

 /******************fonte slut********************/


 /*    general slut    */

 .img_small {
     max-width: 100%;
     height: auto;
 }

 /******************** nav **********************/

 .navbar-light .navbar-toggler {
     border-color: #F9F3E1;
 }

 a {
     color: #F4AD3B !important;
 }

 a:hover {
     color: #EB6127 !important;
 }

 /*
 button navbar-toggler-icon {
     color: #EB6127 !important;
 }
*/


 .bg-light {
     background-color: #F9F3E1 !important;
 }

 /******************** nav slut **********************/




 /****************    carousel     ********************/
 .carousel-caption {
     right: 50%;
     bottom: 17%;
 }

 .carousel-indicators li {
     width: 10px;
     height: 10px;
     border-radius: 50%;
 }

 /*
        .carousel-dark .carousel-indicators li {
            background-color: #1f24c3;
        }
*/

 /****************    carousel slut    ********************/


 /****************    #ABOUT   ********************/
 #about .container {
     margin: 5vw;
 }

 /****************    #ABOUT SLUT   ********************/


 /****************    #VARIANTER    ********************/
 #Nye_varianter {
     margin: 3vw;
 }

 /****************    #VARIANTER SLUT   ********************/

 /*
 .tag_text {
     text-align: center;
 }*/


 /****************    #Kompetition   ********************/
 #Kompetition {
     padding-top: 3vw;
 }

 /****************    #Kompetition slut   ********************/





 /****************    #NYE_PRODUKTER   ********************/
 #Alle_produkter {
     margin-top: 5vw;
     margin-bottom: 8vw;
 }


 .box_txt {
     position: relative;
     text-align: center;


 }

 .pro_tekst {
     position: absolute;
     top: 35%;
     left: 35%;
     transition: .5s ease;
     display: none
 }

 .box_txt:hover .pro_tekst {
     display: block;
 }

 .box_txt:hover img {
     transition: .5s ease;
     opacity: 75%;
     transform: scale(1.05)
 }

 /****************    #NYE_PRODUKTER SLUT   ********************/

 /****************    #FIND   ********************/
 #Find {
     margin-bottom: 8vw;
 }

 iframe {
     width: 100%;
     height: 150%
 }

 /****************    #FIND SLUT   ********************/

 /****************    footer   ********************/
 footer {
     background-color: #F4AD3B;

 }

 footer p {
     color: #F4ECCC;
 }

 footer h6 {
     color: #F4ECCC;
     font-size: 1.2rem;
 }

 footer p:hover {
     color: #EB6127;
     font-size: 1rem;
 }

 footer img:hover {
     transform: scale(1.15)
 }


 /****************    footer SLUT   ********************/
